body {
    background-image: url(https://images.wallpaperscraft.ru/image/karta_palets_marshrut_puteshestviya_114500_3840x2400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    color: white;
}


button {
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    user-select: none;
    padding: 5px 30px;
    border: 1px solid rgb(80,32,0);
    border-radius: 5px;
    outline: none;
    background: rgb(36, 147, 67) linear-gradient(rgb(67, 110, 81), rgb(104, 216, 132) 80%);
    box-shadow:
     0 6px rgb(11, 228, 55),
     0 3px 15px rgba(0,0,0,.4),
     inset 0 1px rgba(255,255,255,.3),
     inset 0 0 3px rgba(255,255,255,.5);
    transition: .2s;
  } 
  button:hover {
    background: rgb(53, 145, 76) linear-gradient(rgb(67, 124, 93), rgb(99, 138, 102) 80%);
  }
  button:active {
    background: rgb(76, 116, 86) linear-gradient(rgb(39, 107, 81) 20%, rgb(65, 172, 144));
    box-shadow:
     0 2px rgb(42, 241, 2),
     0 1px 6px rgba(0,0,0,.4),
     inset 0 1px rgba(255,255,255,.3),
     inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
  }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 30px;
    border: 10px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .5);
    outline: none;
    color: #333;
    width: 50%;
    left: 25%;
}

.js-country-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
}

.country-list {
    font : bold normal 40px Comic Sans MS, serif;
    color: MidnightBlue;
}

.card_title {
    font : bold normal 60px Comic Sans MS, serif;
    color:black;
}

.card_text {
    font : bold normal 30px Comic Sans MS, serif;
    color:MidnightBlue;
}

.card_item {
    font : bold normal 20px Comic Sans MS, serif;
    color:MidnightBlue;
}